:root {
  --bg: #121212;
  --card: #1e1e1e;
  --text: #e0e0e0;
  --accent: #5f9df7;
  --muted: #7a7a7a;
  --scrollbar: #444;
  --scrollbar-hover: #666;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
  height: 100vh;
  overflow: hidden;
}

.main {
  display: flex;
  gap: 1rem;
  height: 100vh;
  padding: 1rem;
}

.container {
  background-color: var(--card);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.brand {
  font-weight: bolder;
  font-size: 32px;
}

.container:first-child {
  width: 25%;
  padding: 1rem;
}

.container:nth-child(2) {
  width: 60%;
  padding: 1rem;
  justify-content: space-between;
}

.container:nth-child(3) {
  width: 15%;
  padding: 1rem;
}

h1 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text);
  margin-bottom: 1.5rem;
}

footer {
  font-size: 0.8rem;
  color: var(--muted);
  text-align: center;
  margin-top: auto;
}

footer a {
  color: var(--accent);
  text-decoration: none;
}

#create-grp-btn {
  background: var(--accent);
  padding: 0.7rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  color: var(--text);
  font-size: 1rem;
  margin-bottom: 0.4rem;
  transition: background-color 0.2s;
  border: none;
  margin-right: 0.5rem;
  color: var(--bgs);
}

#groupList,
#messageList {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-right: 0.5rem;
}

.group-item {
  background: #2b2b2b;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  color: var(--text);
  font-size: 1rem;
  margin-bottom: 0.4rem;
  transition: background-color 0.2s;
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.group-item > i {
  font-size: 18px;
  padding: 0.5rem 0.4rem;
  max-width: 18%;
  height: 94%;
  /* width: 20%; */
  background-color: var(--scrollbar-hover);
  border-radius: 50%;
}

.grp-details{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.grp-details > span{
  margin-bottom: 0.2rem;
}

.grp-details > span > i:first-child{
  margin: 0.3rem ;
}
.grp-details > span:nth-child(2) > span{
  color: var(--accent);
  margin-right: 0.2rem;
}

.grp-last-message{
  font-size: 12px;
  opacity: 0.7;
}

.group-item > span {
  width: 80%;
  text-align: left;
}

#grp-item-active {
  background-color: #444;
  border: 1px solid var(--muted);
}

.group-item:hover {
  background-color: #2a2a2a;
}

#grp-settings-close {
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff3f33;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.6rem;
  cursor: pointer;
}

#grp-settings {
  border-radius: 10px;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

#grp-settings > div {
  color: var(--bg);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--text);
  width: 30%;
  border-radius: 10px;
}

#grp-settings > div > ul {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  list-style-type: none;
  width: 100%;
  padding: 1rem;
}

#grp-settings > div > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  background-color: var(--scrollbar);
  color: var(--text);
}

#grp-settings > div > ul > li > div > button {
  margin: 0 0.3rem;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  background-color: var(--card);
  color: var(--text);
  border-radius: 8px;
  border: none;
  opacity: 0.8;
  transition: all 0.3s ease;
}

#grp-settings > div > ul > li > div > button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

#grp-settings > div > ul > li > div > button[disabled]:hover {
  opacity: 0.5;
  cursor: not-allowed;
}

#grp-settings > div > ul > li > button:hover {
  opacity: 1;
}

#admin-tag{
  background-color: var(--bg);
  padding: 1px;
  margin: 0 0.1rem;
  font-size: 8px;
  border-radius: 2px;
  color: red;
  text-spacing-trim: 0.4px;
}

.exit-grp-btn{
  background-color: #ff3f33;
}

#chat-area-heading {
  color: var(--accent);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid var(--scrollbar-hover);
}

#chat-area-heading > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0.6rem;
}

#chat-area-heading > div > button {
  width: 20px;
  height: 20px;
  padding: 0.3rem;
  margin-right: 0.3rem;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: #ff3f33;
}

#chat-area-heading > div > button:first-child {
  background-color: var(--accent);
}

.message {
  background-color: var(--muted);
  color: var(--text);
  padding: 0.3rem;
  border-radius: 10px;
  margin: 0.2rem 0;
  max-width: 70%;
  width: fit-content;
  word-wrap: break-word;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.message > p{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-link {
  color: white;
  text-decoration: none;
}

.message-file {
  border-left: 4px solid #f2f2f2;
  background-color: var(--bg);
  border-radius: 8px;
  padding: 0.4rem;
  margin: 0.1rem;
}

.message-timestamp{
  font-size: 12px;
  margin-top: 0.5rem;
  opacity: 0.6;
  align-self: flex-end;
  width: 100%;
}

.message-file > a {
  text-decoration: none;
  color: #fff;
}

.message > strong {
  font-size: 12px;
  margin: 0.2rem 0;
}

.sent {
  align-self: flex-end;
  background-color: var(--accent);
  color: white;
  border-top-right-radius: 0;
}

.sent > p > small{
  width: 100%;
  text-align: right;
  color: var(--card);
}

.sent > strong {
  display: none;
}

.received {
  align-self: flex-start;
  border-top-left-radius: 0;
}

.received> p{
  align-items: flex-start;
}

.chat-form {
  display: flex;
  margin-top: 1rem;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
}

.chat-form input {
  flex: 1;
  padding: 0 1rem;
  border: none;
  background-color: #2a2a2a;
  color: var(--text);
  outline: none;
}

.chat-form button {
  background-color: var(--accent);
  color: white;
  font-weight: bold;
  padding: 0 1.5rem;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.chat-form button:hover {
  background-color: #4b84e0;
}

.container:nth-child(3) ul {
  list-style: none;
  padding: 0;
  font-size: 0.95rem;
  color: var(--muted);
}

.container:nth-child(3) button {
  margin-top: auto;
  padding: 0.6rem;
  border-radius: 6px;
  background-color: #3a3a3a;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.container:nth-child(3) button:hover {
  background-color: #555;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}

/* ///// group creation /////// */

#grp-creation-form-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
}

#create-grp-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--muted);
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  width: 40vw;
}

#create-grp-form input {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: #2a2a2a;
  color: #e0e0e0;
  font-size: 1rem;
  outline: none;
}

#create-grp-form input::placeholder {
  color: #7a7a7a;
}

#create-grp-select-members {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 250px;
  overflow-y: auto;
}

#create-grp-select-members li {
  background-color: #292b3e;
  padding: 0.6rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e0e0e0;
  font-size: 0.95rem;
  transition: background-color 0.2s;
}

#create-grp-select-members li:hover {
  background-color: #393c56;
}

#create-grp-select-members button {
  background-color: #5f9df7;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

#create-grp-select-members button:disabled {
  background-color: #777;
  cursor: not-allowed;
}

#create-grp-form button[type="submit"] {
  /* align-self: flex-end; */
  display: inline;
  background-color: #6c63ff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

#create-grp-form button[type="button"] {
  /* align-self: flex-start; */
  display: inline;
  background-color: #ff3f33;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

#create-grp-form button[type="submit"]:hover {
  background-color: #5b52d8;
}

#upload-form-wrapper {
  /* display: none; */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
}

#upload-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* height: 300px; */
  width: 30vw;
}

.upload-form-btns {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.upload-form-btns > button {
  font-size: 16px;
  padding: 1rem;
  width: 49%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-form-btns > button:hover {
  box-shadow: 0 0 10px var(--muted);
}

.upload-form-btns > button[type="button"] {
  background-color: #ff3f33;
}

.upload-form-btns > button[type="submit"] {
  background-color: var(--accent);
}

.upload-form-input > input {
  /* background-color: blue; */
  padding: 2rem;
  border: 2px dashed var(--card);
  opacity: 0;
  width: 100%;
}

.upload-form-input {
  width: 100%;
  position: relative;
  border: 3px dashed var(--muted);
  border-radius: 12px;
  /* background-color: orangered; */
}

.upload-form-input > label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 32px;
}

.upload-form-input > label {
  color: var(--muted);
}

/* Custom Elements */
.critical-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #12121258;
  backdrop-filter: blur(10px);
}

.critical-alert > div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  color: var(--bg);
}

.critical-alert > div > button {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  margin: 0.2rem;
  background-color: var(--accent);
  color: white;
  cursor: pointer;
  opacity: 0.75;
  transition: all 0.3s ease;
  /* font-size: 24px; */
}

.critical-alert > div > button:hover {
  opacity: 1;
  transform: translateY(-2px);
}

.critical-alert > div > p {
  font-size: 24px;
  padding: 1rem;
  margin: 0.2rem;
}
